body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    min-height: 100vh; 
}

.container {
    max-width: 600px;
    width: 100%; 
    background: white;
    padding: 35px; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

h1 {
    margin: 0 0 20px; 
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: auto; 
    padding: 8px 15px; 
    background-color: #eb2d2d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
}

button:hover {
    background-color: #8b1c1c;
}

.output {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    text-align: center; 
    padding: 1px; 
    background-color: #f0f0f0; 
    border-top: 0px solid #ccc; 
    width: 10%; 
}
